.nav--container {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 91, 182);
  justify-content: space-between;
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 0 rgb(252, 252, 252);
}

.dev {
  padding-left: 10px;
  font-size: 33px;
}

nav {
  justify-content: space-between;
  text-align: right;
  padding: 10px;
  margin: 20px;
  justify-content: space-between;
  font-size: 16px;

}

a:link {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: overline;
}

a:visited {
  color: white;
}

body {
  background-color: rgb(181, 183, 185);
  color:  white;
  padding-top: 80px; /* here so that body text is under navbar */
  background-image: url("https://img.freepik.com/free-vector/futuristic-car-speedometer-vector-illustration_91128-1686.jpg?w=1060&t=st=1686010218~exp=1686010818~hmac=233a8bc9ffe6b587f2adfeac81833c01fc83107ec5f8a769b989f0cedd9a9f28");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .80);
}